/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.image-modal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .header {
                    i {
                        font-size: 24px;
                        cursor: pointer;
                    }
                }
                .modal-img {
                    text-align: center;
                    img {
                        width: 400px;

                        @media only screen and (max-width: 767px) {
                            width: 270px;
                        }
                    }
                }
            }
        }
    }
}
