<div class="dashboard">
    <form class="pt-3 pb-3" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-12">
                <h4>Ricerca LDV</h4>
                <div class="form-group">
                    <label class="form-control-label" for="ldv">LDV (INTERA o ESTRATTA)</label>
                    <input class="form-control" [ngClass]="{'inValid': (myForm.get('ldv').invalid || myForm.get('ldv').errors) && myForm.get('ldv').touched}" formControlName="ldv" id="ldv" type="text">
                    <div class="invalid-feedback" [ngStyle]="{'display': myForm.get('ldv').errors && myForm.get('ldv').errors.required && myForm.get('ldv').touched ? 'block' : 'none' }">Field is required.</div>
                    <div class="invalid-feedback" [ngStyle]="{'display': myForm.get('ldv').errors && myForm.get('ldv').errors.minlength && myForm.get('ldv').touched ? 'block' : 'none' }">Minimum 3 character required.</div>
                    <div class="invalid-feedback" [ngStyle]="{'display': myForm.get('ldv').errors && myForm.get('ldv').errors.uppercase && myForm.get('ldv').dirty ? 'block' : 'none' }">All letter should be in uppercase.</div>
                </div>
                <h4>Lista LDV trovate</h4>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-10 date-time-section">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                       <div class="heading-txt">Inizio ricerca (una settimana fa)</div>
                       <div class="row pt-2">
                            <div class="col-md-7 col-sm-6">
                                <div class="form-group pt-1">
                                    <label class="form-control-label" for="from">Data</label>
                                    <input class="form-control" formControlName="from_date" id="from" type="date">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <div class="form-group">
                                    <ngb-timepicker formControlName="from_time" [meridian]="OFF"></ngb-timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="heading-txt">Fine ricerca (oggi)</div>
                        <div class="row pt-2">
                            <div class="col-md-7 col-sm-6">
                                <div class="form-group pt-1">
                                    <label class="form-control-label" for="to">Data</label>
                                    <input class="form-control"  formControlName="to_date" id="to" type="date">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <div class="form-group">
                                    <ngb-timepicker formControlName="to_time" [meridian]="OFF"></ngb-timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 changes-btn">
                        <button type="button" [class.active]="selectedBtn == 'Oggi'" (click)="today()" class="btn active btn-outline-primary">Oggi</button>
                        <button type="button" [class.active]="selectedBtn == 'Leri'" (click)="yesterday()" class="btn btn-outline-primary">Leri</button>
                        <button type="button" [class.active]="selectedBtn == 'Ultimi 3gg'"(click)="last3Day()" class="btn btn-outline-primary">Ultimi 3gg</button>
                        <button type="button" [class.active]="selectedBtn == 'Ultimi 7gg'" (click)="last7Day()" class="btn btn-outline-primary">Ultimi 7gg</button>
                        <button type="button" [class.active]="selectedBtn == 'Ultimo mese'" (click)="lastMonth()" class="btn btn-outline-primary">Ultimo mese</button>
                    </div>

                    <ng-container *ngIf="!isExpand">
                        <div class="col-lg-12 col-md-8 col-sm-10 nota mt-5 ml-3 mr-3">
                            <div class="title pt-3">NOTA:</div>
                            <div class="description pb-2">
                                Queste sono le 5 possibili ricerche , oltre alla ricerca libera che dovranno essere
                                selezionabili attraverso una Checkbox.
                                Non appena avviene la selezione le informazioni verranno riportate all'interno delle caselle
                                di Data e Ora Inizio e Fine
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 buttons mt-3">
                <button type="button" class="btn btn-success mb-3" (click)="reset()">Reset</button>
                <button type="submit" class="btn btn-primary" (click)="expand()">CERCA</button>
            </div>
        </div>

        
        <div class="row">
            <ng-container *ngIf="isExpand">
                    <div class="col-md-12 col-sm-12 mt-5 table-responsive">
                    <table class="table table-bordered">
                            <tbody>
                                <ng-container *ngFor="let item of cercaData;let idx = index;">
                                    <tr>
                                        <td>{{item.Ldv}}</td>
                                        <td>{{item.date}}</td>
                                        <td>{{item.time}}</td>
                                        <td style="border-right: none;">{{item.Weight}}, {{item.Width}}, {{item.PostalCode}}, {{item.SortingProcess}}, GIRO/Destino</td>
                                        <td style="border-left: none;">
                                            <span class="pl-3" (click)="item.isCollapsed = !item.isCollapsed" [attr.aria-expanded]="!item.isCollapsed" [attr.aria-controls]="idx">
                                                <i class="fa" [ngClass]="{'fa-plus': !item.isCollapsed, 'fa-minus': item.isCollapsed}" style="cursor: pointer"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr id="{{idx}}" [ngbCollapse]="!item.isCollapsed">
                                        <td colspan="5">
                                            <ng-container *ngFor="let lnk of item.SortedParcelImages;let i = index;">
                                                <img [src]="lnk" alt="{{i}}" (click)="open(content, lnk)">
                                            </ng-container>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                    </table>
                    </div>
                    <div class="table-pagination pt-3">
                        <ngb-pagination [collectionSize]="30" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
                        <div class="pageitems pl-5">
                            <span>Itemes per Page : </span>
                            <div class="form-group pl-2">
                                <select class="form-control" formControlName="itemsPerPage">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </ng-container>
        </div>

        <div class="row btm-nota">
            <div class="col-md-12 col-sm-12 nota mt-5">
                <ng-container *ngIf="!isExpand">
                    <div class="title pt-3">NOTA:</div>
                    <div class="description pb-2">
                        Questa e la PRIMA pagina ... NESSUN LOGIN necessario!
                    </div>
                </ng-container>

                <ng-container *ngIf="isExpand">
                    <div class="title pt-3">NOTA:</div>
                    <div class="description pb-2">
                        Potrebbero esserci migliaia di righe, quiundi serve una paginazione per la visualizzazione WEB e tutto in una scheda per l'Excel
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row btn-export pt-4 pr-3" *ngIf="isExpand">
            <button type="button" class="btn btn-info">Export</button>
        </div>
    </form>
</div>

<ng-template #content let-modal>
    <div class="modal-body">
        <div class="header text-right pb-3">
            <i (click)="modal.dismiss()" class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="modal-img pb-4">
            <img [src]="selectedImg" alt="">
        </div>
    </div>
</ng-template>