<div class="dashboard">
    <form class="pt-3 pb-3" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <h4>Ricerca LDV</h4>
                <div class="form-group">
                    <label class="form-control-label" for="ldv">LDV (INTERA o ESTRATTA)</label>
                    <input class="form-control" [ngClass]="{'inValid': (myForm.get('ldv').invalid || myForm.get('ldv').errors) && myForm.get('ldv').touched}" formControlName="ldv" id="ldv" type="text">
                    <div class="invalid-feedback" [ngStyle]="{'display': myForm.get('ldv').errors && myForm.get('ldv').errors.required && myForm.get('ldv').touched ? 'block' : 'none' }">Field is required.</div>
                    <div class="invalid-feedback" [ngStyle]="{'display': myForm.get('ldv').errors && myForm.get('ldv').errors.minlength && myForm.get('ldv').touched ? 'block' : 'none' }">Minimum 3 character required.</div>
                    <div class="invalid-feedback" [ngStyle]="{'display': myForm.get('ldv').errors && myForm.get('ldv').errors.uppercase && myForm.get('ldv').dirty ? 'block' : 'none' }">All letter should be in uppercase.</div>
                </div>
                <h4>Lista LDV trovate</h4>
            </div>
            <div class="col-md-8 col-sm-12 date-time-section">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                       <div class="heading-txt">Inizio ricerca (una settimana fa)</div>
                       <div class="row pt-2">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group pt-1">
                                    <label class="form-control-label" for="from">Data</label>
                                    <input class="form-control" formControlName="from_date" id="from" type="date">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 p-0">
                                <div class="form-group">
                                    <!-- <label class="form-control-label" for="from-time">Ora</label> -->
                                    <ngb-timepicker formControlName="from_time" [meridian]="OFF"></ngb-timepicker>
                                    <!-- <input class="form-control" formControlName="from_time" id="from-time" type="time"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="heading-txt">Fine ricerca (oggi)</div>
                        <div class="row pt-2">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group pt-1">
                                    <label class="form-control-label" for="to">Data</label>
                                    <input class="form-control"  formControlName="to_date" id="to" type="date">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 p-0">
                                <div class="form-group">
                                    <ngb-timepicker formControlName="to_time" [meridian]="OFF"></ngb-timepicker>
                                    <!-- <label class="form-control-label" for="to-time">Ora</label>
                                    <input class="form-control" formControlName="to_time" id="to-time" type="time"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 changes-btn">
                        <button type="button" [class.active]="selectedBtn == 'Oggi'" (click)="today()" class="btn active btn-outline-primary">Oggi</button>
                        <button type="button" [class.active]="selectedBtn == 'Leri'" (click)="yesterday()" class="btn btn-outline-primary">Leri</button>
                        <button type="button" [class.active]="selectedBtn == 'Ultimi 3gg'"(click)="last3Day()" class="btn btn-outline-primary">Ultimi 3gg</button>
                        <button type="button" [class.active]="selectedBtn == 'Ultimi 7gg'" (click)="last7Day()" class="btn btn-outline-primary">Ultimi 7gg</button>
                        <button type="button" [class.active]="selectedBtn == 'Ultimo mese'" (click)="lastMonth()" class="btn btn-outline-primary">Ultimo mese</button>
                    </div>

                    <ng-container *ngIf="!isExpand">
                        <div class="col-md-12 col-sm-12 nota mt-5">
                            <div class="title pt-3">NOTA:</div>
                            <div class="description pb-2">
                                Queste sono le 5 possibili ricerche , oltre alla ricerca libera che dovranno essere
                                selezionabili attraverso una Checkbox.
                                Non appena avviene la selezione le informazioni verranno riportate all'interno delle caselle
                                di Data e Ora Inizio e Fine
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 buttons mt-3">
                <button type="button" class="btn btn-success mb-3" (click)="reset()">Reset</button>
                <button type="button" class="btn btn-primary" (click)="expand()">CERCA</button>
            </div>
        </div>

        
        <div class="row">
            <ng-container *ngIf="isExpand">
                    <div class="col-md-12 col-sm-12 mt-5">
                    <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>AASDDFFRG234CFDF</td>
                                <td>11/02/2019</td>
                                <td>12:23:00</td>
                                <td>Peso, dimensione, CAP, lavorazione, GIRO/Destino</td>
                            </tr>
                            <tr>
                                <td>ADS23CDV44</td>
                                <td>11/02/2019</td>
                                <td>12:23:00</td>
                                <td>Peso, dimensione, CAP, lavorazione, GIRO/Destino</td>
                            </tr>
                            <tr>
                                <td>ADDSD234RRG</td>
                                <td>11/02/2019</td>
                                <td>12:23:00</td>
                                <td>Peso, dimensione, CAP, lavorazione, GIRO/Destino</td>
                            </tr>
                            </tbody>
                    </table>
                    </div>
                    <div class="col-md-4 offset-md-4 col-sm-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
            </ng-container>
        </div>

        <div class="row btm-nota">
            <div class="col-md-12 col-sm-12 nota mt-5">
                <ng-container *ngIf="!isExpand">
                    <div class="title pt-3">NOTA:</div>
                    <div class="description pb-2">
                        Questa e la PRIMA pagina ... NESSUN LOGIN necessario!
                    </div>
                </ng-container>

                <ng-container *ngIf="isExpand">
                    <div class="title pt-3">NOTA:</div>
                    <div class="description pb-2">
                        Potrebbero esserci migliaia di righe, quiundi serve una paginazione per la visualizzazione WEB e tutto in una scheda per l'Excel
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row btn-export pt-4 pr-3" *ngIf="isExpand">
            <button type="button" class="btn btn-info">Export</button>
        </div>
    </form>
</div>